/* GENERAL */
* {
    background-color: var(--background-grey);
    font-family: 'SFProMedium';
}

/* FONTS */
@font-face {
    font-family: 'SFProBold';
    src: url('./assets/fonts/SFPRODISPLAYBOLD.OTF');
}
@font-face {
    font-family: 'SFProMedium';
    src: url('./assets/fonts/SFPRODISPLAYMEDIUM.OTF');
}
@font-face {
    font-family: 'SFProRegular';
    src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF');
}


* {
    font-family: 'SFProMedium';
}

.answer_container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 25%;
}

.title {
    padding: 24px 40px;
    width: 50%;
}

.answer { /* TABLET MODE AND DESKTOP */
    display: flex;
    margin: 8px;
    width: 45%;
    height: 50px;
    background-color: rgb(125, 161, 192);
    justify-content: center;
    align-items: center;
}

/* input {
    visibility:hidden;
} */

button {
    padding: 12px;
    margin: 24px;
}

/* input {
    display: none;
} */

#incorrecto {
    background-color: red;
}

#correcto {
    background-color: green;
}